body {
    padding: 50px;
}

.authorization {
    background: linear-gradient(90deg, #b9deed, #efefef);
    border-radius: 10px;
}

.bg-btn {
    background-color: #4169E1;
}

.alert-danger {
  display: flow-root;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 0 50px 0;
  padding: 20px 20px 20px 20px;
}

.links-section-header {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-links-header {
  margin-right: 20px;
}

.text-dark {
  text-decoration: none;
}
